extends layout

block content
    h1 Infoshare License Manager
    hr
    h2 Clients
    div(id='clients')
    p
        button(id='cli_add') Add
        &nbsp;
        button(id='cli_edit') Edit
        &nbsp;
        button(id='cli_delete') Delete

    hr
    h2 Licenses
    div(id='license')
    p
        button(id='lic_add') Add
        &nbsp;
        button(id='lic_copyt') Copy
        &nbsp;
        button(id='lic_delete') Delete
    hr
    h3 License details
    div(id='license_details')
        ul
            li
                a(href='#license_system') System
            li
                a(href='#license_project') Project
        div(id='license_system')
        div(id='license_project')
