extends layout

block content
    h1 Infoshare License Manager
    hr
    h2 Clients
    div(id='clients')

    hr
    h2 Licenses
    div(id='license')
    hr
    h3 License details
    div(id='license_details')
        ul
            li
                a(href='#license_system') System
            li
                a(href='#license_project') Project
        div(id='license_system')
        div(id='license_project')
