extends layout

block content
    h1 Infoshare License Manager
    hr
    h2 Clients
    div(id='clients')
    hr
    h2 Licenses
    div(id='license')
    hr
    h3 License details
    h4 System details
    div(id='system')
    h4 Project details
    div(id='project')
