doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet" href='/stylesheets/jquery-ui.css')
        script(type='text/javascript', src='/javascripts/main.js')
        script(type='text/javascript', src='/javascripts/jquery-3.2.1.js')
        script(type='text/javascript', src='/javascripts/jquery-ui.js')
    body()
        script(type='text/javascript').
            $(document).ready(function () {
                main()
            });
        block content
